
<div class="container">
    <h1 class="text-center mb-5">Pokémon Details</h1>

    <div class="card text-center" *ngIf="pokemon">
        <div class="card-header">
          <h4 class="text-center">{{pokemon.baseStats.name}}</h4>
        </div>
        <div class="card-body">
          <img src="..." class="img-fluid" alt="responsive image">
          <table class="table">
              <thead>
                <tr>
                    <th>Base Stats</th>
                    <th>Profile</th>
                    <th>Moves</th>
                  </tr>
              </thead>
              <tbody>

              </tbody>
          </table>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-success mr-3" (click)="addPokemonToTrainerCollection(pokemon.baseStats.id)">Catch this Pokémon!</button> 
            <button class="btn btn-danger" (click)="removePokemonFromTrainerCollection(pokemon.baseStats.id)">Delete this Pokémon</button> 
        </div>
      </div>

</div>
