
<div class="container">
    <h4 class="text-center mt-3">Login</h4>
        <form [formGroup]="loginForm"> 
            <div class="form-group">   
                <label for="trainerName">Trainer name</label>
                <input class="form-control" type="text" name="trainerName" id="trainerName" 
                placeholder="Enter your trainer name..." formControlName="trainerName" required minLength="3" maxLength="30">
            </div>

            <!--Check if the user has clicked in the field and left it empty and the validation failed-->
            <div *ngIf="trainerName.invalid && (trainerName.dirty || trainerName.touched)">
                <p *ngIf="trainerName.errors.required">Trainer name is required.</p>
                <p *ngIf="trainerName.errors.minlength">Trainer name must be at least 3 characters long.</p>
                <p *ngIf="trainerName.errors.maxlength">Trainer name must be shorter than 30 characters.</p>
            </div>
            
            <br>

            <div class="form-group">
                <button class="btn btn-primary" (click)="onLoginClicked()" type="button" [disabled]="loginForm.invalid">
                    Login Trainer
                </button>
            </div>
    </form>            
</div>