body {
    width: 100%;
    min-height:100vh;
    background-size: cover; 
    background-color: #3B4CCA;

}

h1, h3 {
    color: #FFDE00;
}

.jumbotron {
    background-color: #003A70;
}

.btn {
    color: #FFDE00;
}