
<div class="container">
    <h1 class="text-center mt-3">Pokemon Catalogue</h1>
    <nav>
        <div>
            <button (click)="onBackClicked()">Back</button>
        </div>
        <div>
            <button *ngFor="let page of pokemonPages; index as i" (click)="getPageOfPokemons(i)">{{i}}</button>
        </div>
    </nav>
   
    
        <div class="row row-cols-1 row-cols-md-5">
            <div class="card h-100 m-3" style="width: 18rem;" *ngFor="let pokemon of currentPokemonPage">
                <img src={{pokemon.imgUrl}} class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title text-center"><strong>{{pokemon.name}}</strong></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="text-center"><a class="btn btn-primary" (click)="getPokemonByUrl(pokemon.url)">Pokemon Details</a></div>
                </div>
            </div>
        </div>
    
    </div>
    